                * {
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                }

                body {
                    background-color: #f5f7fa;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-family: 'Montserrat', sans-serif;
                }

                .wrapper {
                    max-width: 99%;
                    max-width: 1200px;
                    background: #fff;
                    display: flex;
                    margin: 0 auto;
                    box-shadow: 5px 9px 20px rgba(0, 0, 0, 15);
                }

                .sidebar {
                    background: #1e2939;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    width: 26%;
                    color: #fff;
                }

                .avatar {
                    text-align: center;
                }

                .flexible-image {
                    max-width: 70%;
                }

                .contacts-container {
                    margin-top: 20px;
                    margin-left: 40px;
                    margin-right: 40px;
                }

                .contacts-title {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 24px;
                    margin-bottom: 10px;
                }


                .contacts-link {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #69707b;
                }

                .contacts-type {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 24px;
                    margin-right: 10px;
                }

                .contacts-img {
                    width: 16px;
                    height: 16px;
                }

                .languages-container{
                    margin-top: 20px;
                    margin-left: 40px;
                    margin-right: 40px;
                }
                .languages-title {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 24px;
                    margin-bottom: 10px;
                }

                .languages {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-left: 15px;
                    color: #0c08ff;
                }

                .languages-text {
                    color: #fff;
                }

                .tech-skills-container {
                    margin-top: 20px;
                    margin-left: 40px;
                    margin-right: 40px;
                }

                .tech-skills-title {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 24px;
                    margin-bottom: 10px;
                }

                .tech-skills {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-left: 15px;
                    color: #0c08ff;
                }

                .tech-skills-text {
                    color: #fff;
                }

                .soft-skills-container {
                    margin-top: 20px;
                    margin-left: 40px;
                    margin-right: 40px;
                }

                .soft-skills-title {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 24px;
                    margin-bottom: 10px;
                }

                .soft-skills {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-left: 15px;
                    color: #0c08ff;
                }

                .soft-skills-text {
                    color: #fff;
                }

                .main {
                    padding-left: 60px;
                    padding-right: 60px;
                    padding-top: 20px;
                    padding-bottom: 30px;
                    width: 63%;
                }

                .title {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 24px;
                    margin-bottom: 13px;
                }

                .name {
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 59px;
                }

                .text {
                    color: #595959;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-top: 14px;
                }

                .info-container {
                    margin-bottom: 15px;
                }

                .projects-container {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    width: 500px;
                }

                .about-me-title {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 24px;
                    margin-bottom: 10px;
                }

                .projects {
                    list-style-type: none;
                    margin-left: 20px;
                    font-weight: 700;
                }

                .projets-link {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #595959;
                }

                .dots {
                    width: 320px;
                    height: 4px;
                    font-weight: 100;
                    color: #595959;
                }

                .tech-name {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #595959;
                }

                .work-experience-container {
                    margin-top: 50px;
                    width: 500px;
                }

                .v-line {
                    color: #000000;
                }

                .country-work {
                    width: 49px;
                    height: 10px;
                    color: #a8a8a8;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 24px;
                }

                .time-work {
                    color: #6c6c6c;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 24px;
                }

                .profession-title {
                    display: flex;
                    flex-wrap: wrap;

                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    margin-top: 10px;
                    margin-bottom: 15px;
                }

                .profession-company {
                    flex: 0 0 auto;
                    width: 100%;
                    color: #13118a;

                }

                .profession-duties {
                    margin-left: 15px;
                    color: #595959;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-top: 4px;
                    margin-bottom: 10px;
                }

                .education-container {
                    margin-top: 35px;
                  width: 500px;
                }

                .university {
                    color: #13118a;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    margin-top: 20px;
                }

                .profession {
                    display: flex;
                    flex-wrap: wrap;

                    height: 13px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    margin-top: 10px;
                    margin-bottom: 15px;
                }

                .wrapper,
                .main,
                .sidebar {
                    min-height: 100vh;
                }

                @media screen and (max-width: 750px) {
                    .main {
                        max-width: 300px;
                    }

                    .sidebar {
                        flex: o o auto;
                        width: 99%;
                    }

                    .wrapper {
                        display: block;
                    }

                    .name {}
                }

                @media screen and (min-width: 300px) {

                    .main,
                    .sidebar {
                        float: none;
                        width: 99%;
                    }

                    .wrapper,
                    .main,
                    .sidebar {
                        min-height: initial;
                    }
                }
